<form action="/reviews/delete/<%= review._id %>" method="post" id="delete-form" class="modal-form">
    <div class="x-button"></div>
    <fieldset>
        <legend>Delete Post?</legend>
        <input type="submit" value="Confirm">
    </fieldset>
</form>
