<h1>Top Ramen King</h1>
<div id="menu-outer">
    <div class="table">
        <ul id="navbar">
            <li><a href="#">Home</a></li>
            <li id="postTab" class="menuTab" data-form="postForm"><a href="#">Post</a></li>
            <li><a href="#">About</a></li>
            <li id="loginTab" class="menuTab" data-form="loginForm"><a href="#">Log In</a></li>
            <li id="signupTab" class="menuTab" data-form="signupForm"><a href="#">Sign Up</a></li>
            <li id="logoutTab" class="menuTab" data-form="logoutForm"><a href="#">Log Out</a></li>
            <li id="profileTab" class="menuTab" data-form="profileForm"><a href="#">Profile</a></li>
        </ul>
    </div>
</div>