<form action="users/login" method="post" id="loginForm" class="modal-form">
        <div class="x-button"></div>
        <fieldset>
            <legend>Log in</legend>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" autocomplete="off"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" autocomplete="off"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
