<form action="users/logout" method="get" id="logoutForm">
    <div class="x-button"></div>
    <fieldset>
        <legend>Logout?</legend>
        <input type="submit" value="Confirm">
    </fieldset>
</form>