<form action="reviews/create" method="post" encType="multipart/form-data" id="postForm">
    <div class="x-button"></div>
    <fieldset>
        <legend>Make A Post</legend>
        <label for="title">Title</label><br>
        <input type="text" name="title" autocomplete="off"><br>
        <label for="subtitle">Subtitle</label><br>
        <input type="text" name="subtitle" autocomplete="off"><br>
        <label for="rating">Rating </label>
        <%- include('ratingControl')  -%>
        <label for="text">Text</label><br>
        <textarea name="text" rows="4" cols="50" autocomplete="off"></textarea><br>
        <label id="photo-button" for="image-file">Photo...</label>
        <input type="file" id="image-file" name="image" accept="image/*" style="display: none;"><br>
        <div id="preview" width="100%" height="100%"><img id="img-preview" width = "100%" height="100%" src=""></div>
        <input type="submit" value="Submit">
    </fieldset>
</form>
