<form action="#" method="post" id="profileForm" class="modal-form">
    <div class="x-button"></div>
    <fieldset>
        <legend>Profile</legend>
        <% if (login) { %>
            <p><%=login%></p>
            <p>User since: <%= userDate.split('T')[0] %></p>
        <% } %>
    </fieldset>
</form>
