<form action="/search/" method="get" id="searchForm" class="modal-form">
    <div class="x-button"></div>
    <fieldset>
        <legend>Search</legend>
        <input type="text" id="query" name="query" autocomplete="off"><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>