body {
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    border: 0px;
    padding: 0px;
}

h1, h3 {
    text-align: center;
}

main {
    width: 100%;
    margin:0 auto;
}

input {
    font-size: medium;
}
.centered {
    margin: 0 auto;
    display: block;
}
.spacer {
    margin: 0px;
    width: 20%;
    height: 40px;
    font-size: 30px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    
}
.nav-button {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 	7px;
    background-color: black;
    font-size: 25px;
}
.nav-link {
    
    width: 100px;
    text-decoration: none;
    color: white;
}

#navbar {
    font-size: 0px;
}

.review-container {
    border-style: solid;
    width: 100%;
    display: inline-block;
    background-color: #fdf5e6;
}

.modal-form {
    position: absolute;
    left: 40%;
    width: 20%;
    height: auto;
    background-color: whitesmoke;
    opacity: 1;
    border: 1px solid black;
    z-index: 2;
    font-size: 20px;
    visibility: hidden;
}

#flash-message-form {
    position: absolute;
    z-index: 2;
    font-size: 24px;
    left: 25%;
    width: 50%;
    border: solid 2px gold;
    border-radius: 3px;
    background-color: lightyellow;
    text-align: center;
    visibility: hidden;
}

fieldset{
    border:0;
    box-shadow: none;
 }

.x-button {
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 5px;
    border: 1px solid Lightgrey;
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.x-button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '\d7';
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    line-height: 20px;
    text-align: center;
}

#logged-in {
    margin: 0;
    margin-right: 24px;
    padding: 0;
    border: 0;
    text-align: right;
}

#rotate-clockwise {
    float: right;
    font-size: xx-large;
}
#photo {
    float: left;
    width: 5px;
}

#cropped-frame {
    margin: 0 auto;
}

#cropped-canvas {
    margin: 0 auto;
    height: 0;
    width: 0;
}
#photo-canvas, #overlay-canvas {
    position: absolute;
    left: 5%;
    top: 0;
}
#photo-canvas {
    background-color: #555;
}
#overlay-canvas {
    z-index: 3;
}
#post-layout {
    background-color: whitesmoke;
    
}
#post-form-data {
    font-size: xx-large;
    position: relative;
    width: 800px;
    margin: 0 auto;
    border: solid black 1px;
}
#photo-controls {
    position: relative;
    width: 805px;
    margin: 0 auto;
}
#photo-frame {
    position: relative;
    width: 900px;
    margin: 0 auto;
    background-color: aqua;

}
.large-button {
    display: border-box;
    background-color: #eee;
    padding: 2px;
    border: solid 2px grey;
    border-radius: 3px;
    font-size: xx-large;
    float:left;
}
#submitPost {
    position: absolute;
    left: 40%;
    width: 20%;
    margin-top: 5px;
    font-size: xxx-large;
    border: solid 2px gold;
    border-radius: 3px;
    background-color: lightyellow;
}

#submitPost:active {
    background-color: rgb(252, 252, 188);
}

@media (orientation: portrait) {
    html {
        font-size: 30px;
    }

    body {
        width: 100%;
    }

    main {
        width: 100%;
        margin:0 auto;
    }

    #menu-outer {
        margin-bottom:20px ;
    }

    form {
        position: absolute;
        left: 10%;
        width: 80%;
    }
    
    
    .review-container {
        border-style: solid;
        width: 98%;
        display: inline-block;
    }
  }