body {
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    border: 0px;
    padding: 0px;
}

h1 {
    text-align:center;
}

main {
    width: 100%;
    margin:0 auto;
}

#photo-button {
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #eee;
    width: 15%;
    padding-left: 3px;
    padding-right: 3px;
}

#photo-button:hover {
    background-color: #ddd;
}

.spacer {
    margin: 0px;
    width: 20%;
    height: 40px;
    font-size: 30px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    
}
.nav-button {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 	7px;
    background-color: black;
    font-size: 25px;
}
.nav-link {
    
    width: 100px;
    text-decoration: none;
    color: white;
}

#navbar {
    font-size: 0px;
}

.review-container {
    border-style: solid;
    width: 98%;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0 auto;
}

li {
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    font-size: larger;

}

li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

form {
    position: absolute;
    left: 30%;
    width: 40%;
    height: auto;
    margin: 0;
    background-color: whitesmoke;
    opacity: 1;
    border: 1px solid black;
    z-index: 2;

}
fieldset{
    border:0;
    box-shadow: none;
 }

.x-button {
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 5px;
    border: 1px solid Lightgrey;
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.x-button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '\d7';
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    line-height: 20px;
    text-align: center;
}

#logged-in {
    visibility: visible;
}

@media (orientation: portrait) {
    html {
        font-size: 30px;
    }

    body {
        width: 100%;
    }

    main {
        width: 100%;
        margin:0 auto;
    }

    #menu-outer {
        margin-bottom:20px ;
    }

    form {
        position: absolute;
        left: 10%;
        width: 80%;
    }
    
    
    .review-container {
        border-style: solid;
        width: 98%;
        display: inline-block;
    }
  }